<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>508803014569-5dru4hlg7akitsj7092ggkhrqli60quv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508803014569-5dru4hlg7akitsj7092ggkhrqli60quv</string>
	<key>API_KEY</key>
	<string>AIzaSyCXJH2HyjA3BB-6L32o9A_CurRUAay8qec</string>
	<key>GCM_SENDER_ID</key>
	<string>508803014569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pillowtalk</string>
	<key>PROJECT_ID</key>
	<string>pillowtalk-c99d4</string>
	<key>STORAGE_BUCKET</key>
	<string>pillowtalk-c99d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508803014569:ios:43ef560353a0aae9e52eb8</string>
</dict>
</plist>